image: mapiacompany/muzika-platform-server:latest

stages:
  - deploy

deploy:develop:
  stage: deploy
  variables:
    ZIP_FILE: "dist.zip"
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - cd ./muzika-contract && npm install && npm run contract:compile && cd ..
    - mv muzika-contract/build/ muzika-contract-build/
    - rm -rf muzika-contract/
    - mkdir muzika-contract/ && mv muzika-contract-build/ muzika-contract/build/
    - zip -r dist.zip ./ -x ".git/*" "venv/*" "deploy/*" ".idea/*" "*/__pycache__/*"
    - sh ./scripts/elb-deploy.sh
  only:
    - develop