**__pycache__**
**.idea**
.DS_Store
*.pyc
*.sublime-project
*.sublime-workspace
venv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/test.py
/secret/*
!/secret/.gitkeep
/dist.zip
/*.sqlite
/*.db