sources:
  /home/ec2-user: https://dist.ipfs.io/go-ipfs/v0.4.15/go-ipfs_v0.4.15_linux-386.tar.gz

commands:
  00_install_ipfs:
    command: sudo mv /home/ec2-user/go-ipfs/ipfs /usr/local/bin/ipfs
    leader_only: true
  01_init_ipfs:
    command: "ipfs init || echo IPFS node already exists!"

container_commands:
  change_ipfs_config:
    command: python ./scripts/change_ipfs_config.py --path ~/.ipfs/config
