sources:
  /home/ec2-user: https://dist.ipfs.io/go-ipfs/v0.4.15/go-ipfs_v0.4.15_linux-386.tar.gz

commands:
  00_install_ipfs:
    command: sudo mv /home/ec2-user/go-ipfs/ipfs /usr/local/bin/ipfs
    leader_only: true
  01_init_ipfs:
    command: ipfs init || echo "IPFS node already exists!"
  02_create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_ipfs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      nohup ipfs daemon >/dev/null 2>&1 &


container_commands:
  01_change_ipfs_config:
    command: python ./scripts/change_ipfs_config.py --path ~/.ipfs/config
